.register {
  height: 74vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  height: 71vh;
}

.register-form {
  width: 400px;
  height: max-content;
  /* height: max-content; */
  margin: auto;
  box-shadow: -1px 1px 1px 2px rgba(128, 128, 128, 0.158);
  border-radius: 4px;
  padding: 1rem;
}

.footer {
  height: 116px;
  padding-top: 3rem;
}

.dashcolor {
  background: #f2edf3;
  width: 100% !important;
}

.card1 {
  background: linear-gradient(to right, #ffbf96, #fe7096);
}
.card2 {
  background: linear-gradient(to right, #90caf9, #047edf 99%);
}
.card3 {
  background: linear-gradient(to right, #84d9d2, #07cdae);
}

.tablecontainer > div {
  width: 900px;
}
.tablecontainer {
  margin: 10px 10px 20px 20px;
}
