.register {
  height: 74vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  height: 71vh;
}

.register-form {
  width: 400px;
  height: max-content;
  /* height: max-content; */
  margin: auto;
  box-shadow: -1px 1px 1px 2px rgba(128, 128, 128, 0.158);
  border-radius: 4px;
  padding: 1rem;
}

.footer {
  height: 116px;
  padding-top: 3rem;
}

.dashcolor {
  background: #f2edf3;
  width: 100% !important;
}

.card1 {
  background: linear-gradient(to right, #ffbf96, #fe7096);
}
.card2 {
  background: linear-gradient(to right, #90caf9, #047edf 99%);
}
.card3 {
  background: linear-gradient(to right, #84d9d2, #07cdae);
}
.card4 {
  background: linear-gradient(to right, #f83b3b, #ff8383);
}

.tablecontainer > div {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* width: 1500px; */

  /* overflow-x: scroll; */
  height: 50vh;
  box-shadow: -2px 2px 2px solid black;
}
.tablecontainer {
  /* background-color: royalblue; */
  /* margin: 50px 50px 50px 50px; */
  padding: 20px 40px;
  border-radius: 5px;
  width: 100vw;
  overflow: hidden;
}

.jobAddField {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.alltables > div {
  width: 600px;
  height: 800px;
}

img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
}

.wrapperContent {
  padding: 10px 20px;
}
.edit {
  justify-content: space-between;
  margin-top: 150px;
}
.profileDetails {
  margin-top: 100px;
  margin-left: 50px;
}
.firstcol {
  /* backg?round: red; */
}
.cardStack {
  display: flex;
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  justify-content: space-between;
  margin-right: 2px;
}
.cardStack > div {
  margin-right: 15px;
}
.childeren {
  min-height: 90vh;
}

.wantToapply {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background: rgb(241, 221, 221);
}
